<!DOCTYPE html>
<html class="js" manifest="{{.Rootpath}}cache.manifest">
<head>
	<meta charset="utf-8">
	<!-- Style Sheet and js stuff -->
	<title></title>
	<link rel="stylesheet" href="{{.Rootpath}}css/960.css">
	<link rel="stylesheet" href="{{.Rootpath}}css/normalize.min.css">
	<link rel="stylesheet" href="{{.Rootpath}}css/styles.css">
</head>
<body>
	<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        < ![endif]-->
        <div class="wrapper">
        	<div class="header-container">
        		<!-- use 960 stuff to get the layout -->

        </div>
    </div>

    <div class="main-container">
    	<!-- use 960 stuff to get the layout -->
    	{{.ProcessedMarkdown}}
    </div>

    <div class="push"></div>
    <div class="footer">
    	<div class="footer-container">
    		<!-- use 960 stuff to get the layout -->
    	</div>
    </div>